<li *ngIf="visible" class="tab-menu">

  <button *ngIf="isButton; else isNotButton" class="btn-tab" (click)="selectedTab(target)" type="button"
    mat-raised-button [ngStyle]="{'opacity': tabActive ? '0.5' : ''}">
    <mat-icon *ngIf="icon">{{icon}}</mat-icon>
    <span>{{label}}</span>
  </button>

  <ng-template #isNotButton>
    <div class="span-btn" (click)="selectedTab(target)" [ngStyle]="{'opacity': tabActive ? '0.5' : ''}">
      <mat-icon *ngIf="icon">{{icon}}</mat-icon>
      <p style="display: flex; flex-direction: column;">
        <span style="margin-left: 8px;">{{label}}</span>
        <small style="margin-left: 8px;" *ngIf="subtitle">{{subtitle}}</small>
      </p>
    </div>
  </ng-template>
</li>