<mat-list-item role="listitem" style="height: 70px;"
  [ngStyle]="{'border-bottom': isDark() ? '1px solid rgba(0,0,0,0.1)' : '1px solid rgba(255,255,255,0.15)'}">
  <div mat-line>{{downloadItem.label}}</div>
  <img mat-list-icon [src]="downloadItem.icon" alt="logo">
  <small mat-line>Versão: {{downloadItem.version}}</small>
  <small mat-line>Release: {{downloadItem.release}}</small>
  <button (click)="download(downloadItem.release, downloadItem.system)" mat-icon-button type="button">
    <mat-icon>download</mat-icon>
  </button>
</mat-list-item>