<section class="reset">
  <mat-progress-bar *ngIf="isLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
  <div class="container-reset">
    <p class="title">Seu e-mail</p>
    <form [formGroup]="formReset" class="container-form" (ngSubmit)="onSubmit($event)">
      <div class="form-inline">
        <mat-form-field class="form" floatLabel="always" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput placeholder="E-mail" required>
          <mat-error>Email é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div class="container-forget">
        <p (click)="toLogin($event)" routerLink="/login" class="forget-password">
          <small>já tenho conta</small>
        </p>
        <p (click)="toSignup($event)" routerLink="/login/signup" class="no-account">
          <small>Não tenho conta</small>
        </p>
      </div>

      <div class="container-buttons">
        <button [disabled]="!formReset.valid || isLoading" type="submit" mat-raised-button>Enviar</button>
        <button [disabled]="isLoading" routerLink="/" type="button" color="accent" mat-raised-button>Voltar</button>
      </div>
    </form>
  </div>
</section>