<section class="app">
  <div *ngIf="isOnline; else isLoading" class="routes">
    <router-outlet></router-outlet>
  </div>

  <ng-template #isLoading>

    <div *ngIf="!isError" class="loading">
      <div class="container-loading">
        <img [src]="iconLoading" alt="">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>

    <div *ngIf="isError" class="not-found">
      <div class="container-not-found">
        <p style="text-align: center;">
          <mat-icon style="font-size: 4em; width: inherit; height: inherit;">signal_wifi_connected_no_internet_4</mat-icon>
        </p>
        <h1>Sem conexão com servidor</h1>
        <button (click)="reloading()" mat-raised-button type="button">recarregar</button>
      </div>
    </div>
  </ng-template>
</section>