<section class="dialog">
  <div class="header dialog-header-mode">
    <div class="title">
      <app-title title="Excluir registro"></app-title>
    </div>
    <div class="max-window">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="container-dialog">
    <h2 class="welcome-subtitle">Tem certeza que quer excluir?</h2>
    <div class="container-buttons">
      <button mat-raised-button (click)="close(true)">Confirmar</button>
      <button color="accent" mat-raised-button (click)="close(false)">Fechar</button>
    </div>
  </div>
</section>