<section class="settings">
  <mat-progress-bar *ngIf="isLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
  <mat-accordion>
    <mat-expansion-panel class="expansion-panels">
      <mat-expansion-panel-header>
        <mat-panel-title>Perfil</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formProfile" (ngSubmit)="onProfileSubmit()" class="form-profile">
        <div class="container-forms">
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>Nome</mat-label>
              <input type="text" formControlName="name" matInput placeholder="Nome">
            </mat-form-field>
          </div>
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input type="email" formControlName="email" matInput placeholder="E-mail" required>
              <mat-error *ngIf="formProfile.get('email')?.hasError('required')">
                Digite o email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>CPF/CNPJ</mat-label>
              <input mask="000.000.000-00||00.000.000/0000-00" type="text" formControlName="cpf" matInput
                placeholder="CPF ou CNPJ" required>
              <mat-error *ngIf="formProfile.get('cpf')?.hasError('required')">
                Digite o cpf ou cnpj
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>Telefone</mat-label>
              <input mask="(00) 0000-0000||(00) 0 0000-0000" type="text" formControlName="tel" matInput
                placeholder="Telefone" required>
              <mat-error *ngIf="formProfile.get('tel')?.hasError('required')">
                Digite o telefone
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-buttons">
          <button [disabled]="!formProfile.valid" type="submit" mat-raised-button>Salvar</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel class="expansion-panels">
      <mat-expansion-panel-header>
        <mat-panel-title>Alterar senha</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formAccount" (ngSubmit)="onAccountSubmit()" class="form-profile">
        <div class="container-forms">
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>Senha antiga</mat-label>
              <input [type]="hide ? 'text' : 'password'" formControlName="old_password" matInput
                placeholder="Senha antiga">
              <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                {{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="formAccount.get('old_password')?.hasError('required')">
                Digite a senha antiga
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>Nova senha</mat-label>
              <input [type]="hide ? 'text' : 'password'" formControlName="new_password" matInput
                placeholder="Nova senha" required>
              <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                {{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="formAccount.get('new_password')?.hasError('required')">
                Digite a nova senha
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-inline">
            <mat-form-field class="form" floatLabel="always" appearance="outline">
              <mat-label>Confirmar senha</mat-label>
              <input [type]="hide ? 'text' : 'password'" formControlName="confirm_password" matInput
                placeholder="Confirmar senha" required>
              <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                {{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="formAccount.get('confirm_password')?.hasError('required')">
                Digite a confirmação
              </mat-error>
              <mat-error *ngIf="!isPasswordSame">
                Senhas não são iguais
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-buttons">
          <button [disabled]="!formAccount.valid || isLoading" type="submit" mat-raised-button>Salvar</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <mat-card class="card">
    <div class="application">
      <p>Tema</p>
      <div class="choose-mode">
        <mat-slide-toggle [checked]="isDark" (change)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
      </div>
    </div>
  </mat-card> -->

  <mat-accordion>
    <mat-expansion-panel class="expansion-panels">
      <mat-expansion-panel-header>
        <mat-panel-title>Tema</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="choose-mode">
        <mat-slide-toggle [checked]="isDark" (change)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel class="expansion-panels">
      <mat-expansion-panel-header>
        <mat-panel-title>Sobre</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-about">
        <p>
          <span>Versão: </span>
          <small>1.0.0</small>
        </p>
        <p>
          <span>Desenvolvedor: </span>
          <small>Roberto Rosa</small>
        </p>
        <p>
          <span>Suporte: </span>
          <small>roberto.rosa7@gmail.com</small>
        </p>
        <p>
          <span>Descrição: </span>
          <small>Organize seus gastas e tenha o controle da suas contas</small>
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>