<section class="settings">
  <mat-progress-bar *ngIf="isLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar>

  <div (click)="backTab(tab)" *ngIf="isMobile && tabActive"
    style="display: flex; align-items: center; margin-bottom: 30px;">
    <mat-icon>arrow_back</mat-icon>
    <span style="margin-left: 8px;">{{getLabel(tab)}}</span>
  </div>

  <div class="tabs">
    <div *ngIf="!tabActive" class="tab-header">
      <app-tab-menu *ngFor="let item of settingsMenu" (click)="getTarget(item.target)" [subtitle]="item.subtitle"
        [isButton]="item.is_button" [icon]="item.icon" [label]="item.label" [target]="item.target">
      </app-tab-menu>
    </div>

    <app-tab-content *ngIf="showTabContent" class="tab-content">
      <div *ngIf="tab === 'profile'" profile class="profile">
        <form [formGroup]="formProfile" (ngSubmit)="onProfileSubmit()" class="form-profile">
          <div class="container-forms">
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>Nome</mat-label>
                <input [readonly]="isLoading" type="text" formControlName="name" matInput placeholder="Nome">
              </mat-form-field>
            </div>
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input [readonly]="isLoading" type="email" formControlName="email" matInput placeholder="E-mail"
                  required>
                <mat-error *ngIf="formProfile.get('email')?.hasError('required')">
                  Digite o email
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>CPF/CNPJ</mat-label>
                <input [readonly]="isLoading" mask="000.000.000-00||00.000.000/0000-00" type="text"
                  formControlName="cpf" matInput placeholder="CPF ou CNPJ" required>
                <mat-error *ngIf="formProfile.get('cpf')?.hasError('required')">
                  Digite o cpf ou cnpj
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>Celular</mat-label>
                <input [readonly]="isLoading" mask="(00) 0 0000-0000" type="text" formControlName="tel" matInput
                  placeholder="Celular" required>
                <mat-error *ngIf="formProfile.get('tel')?.hasError('required')">
                  Digite o telefone
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-buttons">
            <button [disabled]="!formProfile.valid" type="submit" mat-raised-button>Salvar</button>
          </div>
        </form>
      </div>

      <div *ngIf="tab === 'new_password'" new_password class="new-password">
        <form [formGroup]="formAccount" (ngSubmit)="onAccountSubmit()" class="form-account">
          <div class="container-forms">
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>Senha antiga</mat-label>
                <input [readonly]="isLoading" [type]="hide ? 'text' : 'password'" formControlName="old_password"
                  matInput placeholder="Senha antiga">
                <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  {{ hide ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-error *ngIf="formAccount.get('old_password')?.hasError('required')">
                  Digite a senha antiga
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>Nova senha</mat-label>
                <input [readonly]="isLoading" [type]="hide ? 'text' : 'password'" formControlName="new_password"
                  matInput placeholder="Nova senha" required>
                <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  {{ hide ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-error *ngIf="formAccount.get('new_password')?.hasError('required')">
                  Digite a nova senha
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-inline">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-label>Confirmar senha</mat-label>
                <input [readonly]="isLoading" [type]="hide ? 'text' : 'password'" formControlName="confirm_password"
                  matInput placeholder="Confirmar senha" required>
                <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  {{ hide ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-error *ngIf="formAccount.get('confirm_password')?.hasError('required')">
                  Digite a confirmação
                </mat-error>
                <mat-error *ngIf="!isPasswordSame">
                  Senhas não são iguais
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-buttons">
            <button [disabled]="!formAccount.valid || isLoading" type="submit" mat-raised-button>Salvar</button>
          </div>
        </form>
      </div>

      <div *ngIf="tab === 'theme'" theme class="theme">
        <mat-card class="card">
          <div class="application">
            <div class="choose-mode">
              <mat-slide-toggle [checked]="isDark" (change)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
            </div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="tab === 'about'" about class="about">
        <div class="container-about">
          <p>
            <span>Versão: </span>
            <small>{{version}}</small>
          </p>
          <p>
            <span>Desenvolvedor: </span>
            <small>{{author.name}}</small>
          </p>
          <p>
            <span>Suporte: </span>
            <small>{{author.email}}</small>
          </p>
          <p>
            <span>Descrição: </span>
            <small>{{description}}</small>
          </p>
        </div>
      </div>

      <div *ngIf="tab === 'account'" account class="account">
        <div class="container-account">
          <button (click)="deleteAccount()" mat-raised-button type="button">excluir conta</button>
        </div>
      </div>
    </app-tab-content>
  </div>
</section>