.container-valores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: inherit;
}
.container-valores p {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .container-valores {
    justify-content: space-around;
  }
  .container-valores p {
    width: 160px;
    text-align: left;
  }
}
