.container-valores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: inherit;
}
.container-valores p {
  font-size: 14px;
}
.mb-analise {
  display: flex;
  flex-wrap: wrap;
  mat-card {
    flex: 1;
    min-width: 100px;
    margin: 1.6%;
    p {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;
    }
  }
}
@media screen and (max-width: 600px) {
  .container-valores {
    justify-content: space-around;
  }
  .container-valores p {
    width: 160px;
    text-align: left;
  }
}
