@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import "~@angular/material/theming";
@include mat-core();

:root {
  --text-accent: #ff4081;
  --text-light: #303030;
  --text-middle-orange: #e67e22;
  --text-middle-light: #585858;
  // --text-green: #00af91;
  --text-green: #009688;
  // --text-green: rgb(144, 237, 125);
  --text-dark: #d65a31;
  --bg-light-color: #fafafa;
  --bg-dark-color: #505050;

  --color-white: white;
  --color-whitesmoke: whitesmoke;
  --color-medium-white: #fafafa;
  --color-default-dark: #303030;
  --color-dark: #212121;
}

$mat-primary-pallete: mat-palette($mat-teal);
$mat-accent-pallete: mat-palette($mat-pink);

$mat-dark-primary: mat-palette($mat-teal);
$mat-dark-accent: mat-palette($mat-pink);

$app-light-theme: mat-light-theme($mat-primary-pallete, $mat-accent-pallete);
$app-dark-theme: mat-dark-theme($mat-dark-primary, $mat-dark-accent);

$bg-dark-mode: var(--color-default-dark);
$bg-light-mode: var(--color-medium-white);
$color-dark-mode: var(--color-white);

$text-dark: var(--text-dark);
$text-light: var(--text-midlle-light);
$text-accent: var(--text-accent);

@mixin span-cash {
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text {
  text-transform: capitalize;
  margin: 8px 0;
  display: inline-block;
}

.dialog-default {
  width: 100%;
  height: 100%;
  max-width: 768px !important;
  max-height: 500px !important;
  .mat-dialog-container {
    padding: 0;
  }
}

.light-mode {
  @include angular-material-theme($app-light-theme);
  background: $bg-light-mode;
  .form-search {
    background: $bg-light-mode;
  }
  .hedaer-print {
    background-color: var(--color-whitesmoke);
  }
  .dialog-header-mode {
    background: var(--color-medium-white);
  }
  .line-month {
    @include text;
    color: var(--text-middle-light);
  }
  .link-active {
    background: var(--color-medium-white);
    color: var(--text-green);
  }
  li:active {
    background: #c3c3c350;
  }
  mat-card span.cards-money {
    @include span-cash;
    color: #585858;
  }
  span.cards-money {
    @include span-cash;
    color: #585858;
  }
  mat-card span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  mat-card span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  table tr .table-delete-icon {
    color: $bg-dark-mode;
  }
  .table-print tbody tr:nth-child(even) {
    background: #ddd;
  }
  .histories table tr:nth-child(even) {
    background: linear-gradient(-90deg, var(--color-whitesmoke) 100%, transparent);
  }
  .bg-mode {
    background: var(--color-whitesmoke);
  }
  .bg-mode-custom {
    background: linear-gradient(-90deg, var(--color-whitesmoke), transparent);
    button:hover {
      background: var(--color-white);
    }
  }
  .highchart-tooltip {
    color: var(--color-default-dark);
    border-bottom: 1px solid #32323250;
  }
  .highchart-text {
    color: var(--color-default-dark);
  }
}

.dark-mode {
  @include angular-material-theme($app-dark-theme);
  background: $bg-dark-mode;
  color: $color-dark-mode;
  .hedaer-print {
    // background-color: var(--color-dark);
    background: linear-gradient(-90deg, #393939 100%, #42424290 0);
  }
  .form-search {
    background: $bg-dark-mode;
  }
  .dialog-header-mode {
    background: var(--color-default-dark);
  }
  .line-month {
    @include text;
    color: var(--color-medium-white);
  }
  .link-active {
    background: var(--text-light);
    color: var(--text-green);
  }
  li:active {
    background: #10101050;
  }
  mat-card span.cards-money {
    @include span-cash;
    color: #eee;
  }
  span.cards-money {
    @include span-cash;
    color: #eee;
  }
  mat-card span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  mat-card span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  table tr .table-delete-icon {
    color: $bg-light-mode;
  }
  .table-print tbody tr:nth-child(even) {
    background: linear-gradient(-90deg, #393939 100%, #42424290 0);
  }
  .histories table tr:nth-child(even) {
    background: linear-gradient(-90deg, #393939 100%, #42424290 0);
  }
  .bg-mode {
    background: #212121;
  }
  .bg-mode-custom {
    background: linear-gradient(-90deg, #393939, #42424290);
    button:hover {
      background: $bg-dark-mode;
    }
  }
  .highchart-tooltip {
    color: var(--color-whitesmoke);
    border-bottom: 1px solid var(--color-medium-white);
  }
  .highchart-text {
    color: var(--color-medium-white);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  scroll-behavior: smooth;
}
h2.welcome-subtitle {
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin: 15px 0;
}
@mixin custom-button-icon-width-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  width: 120px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
@mixin title-login {
  font-size: 2.3em;
  font-weight: 100;
  margin: 16px 0;
  text-align: center;
}
@mixin size-container {
  max-width: 1280px;
}
.offline {
  .loading {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 200px;
    max-height: 225px;
  }
}
.custom-select {
  .mat-option-text {
    padding: 0 16px;
  }
}
::-webkit-scrollbar-track {
  background: #ff408190;
}
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c2bcbc;
  border-radius: 10px;
}
@media screen and (max-width: 557px) {
  .dialog-default {
    max-width: 280px !important;
    max-height: 450px !important;
  }
}

@media screen and (min-width: 557.98px) and (max-width: 769px) {
  .dialog-default {
    max-width: 420px !important;
  }
}
