.dashboard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 100%;
  .button-top {
    position: fixed;
    bottom: 10px;
    right: 60px;
    z-index: 99;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .mat-drawer-content {
    display: flex;
  }
  .container {
    height: inherit;
    .mat-drawer-container ::ng-deep .mat-drawer-inner-container {
      min-width: 75px;
    }
    .mat-drawer-side {
      border: none;
    }
    .app-menu-list {
      list-style: none;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      li:active,
      li:focus,
      li a:focus,
      li a:active {
        outline: none;
        border: none;
      }
      li {
        width: 100%;
        text-align: center;
        min-height: 64px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0 16px;
        overflow: hidden;
      }
      li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
      }
      li span {
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 200px;
      }
    }
  }
  .content-pages {
    flex: 1;
    overflow-x: hidden !important;
    position: relative;
    height: inherit;
    ::ng-deep mat-toolbar {
      position: fixed;
      z-index: 9;
    }
    .app-custom-toolbar-row {
      width: 100%;
      padding-left: 90px;
      padding-right: 30px;
      
      .prev-consolidado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        @media (max-width: 600px) {
          max-width: 100%;
          flex: 1;
          align-items: flex-start;
        }
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          width: inherit;
        }
      }
      .menu-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        form {
          width: 100%;
          text-align: center;
        }
        .form {
          width: inherit;
          max-width: 500px;
          mat-icon {
            font-size: 20px;
          }
        }
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 6px 12px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0;
      }
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      ::ng-deep .mat-form-field-infix {
        border-top: 0;
      }
      ::ng-deep .mat-input-element {
        font-size: 14px;
        height: 20px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: transparent;
      }
    }
  }
  .pages {
    margin-top: 85px;
    padding: 0 30px 0 30px;
    margin-left: 64px;
  }

  .sidebar {
    height: 100%;
    position: fixed;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .dashboard .cards {
    flex-direction: column;
  }
  .dashboard .sidebar {
    display: none;
  }
  .dashboard .pages {
    margin-left: 0;
  }
  .dashboard .content-pages .app-custom-toolbar-row {
    padding: 0 25px;
  }
  .dashboard .button-top {
    right: 20px;
  }
}

@media print {
  .dashboard {
    height: inherit;
  }
  mat-toolbar,
  .dashboard .button-top {
    display: none;
  }
  .dashboard .pages {
    margin-top: 0;
  }
}
